super-landing-wrapper {
  display: grid;
}

super-landing-wrapper > input, super-landing-wrapper > button {
  width: max-content;
  justify-self: center;
}

landing-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}