super-landing-wrapper {
  display: grid;
}

super-landing-wrapper > h1 {
  margin-top: 0;
  font-size: xx-large;
}

super-landing-wrapper input, super-landing-wrapper button {
  width: max-content;
  justify-self: center;
  align-self: center;
  margin: 0.1em;
}

landing-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}